<!-- Certifications -->
<div class="wrapper">
    <section>
      <h3 id="certifications" class="header">PROFESSIONAL CERTIFICATIONS</h3>
    </section>

    <div class="cards_wrap">

      <div class="card_item">
        <div class="card_inner">
          <img src="../../assets/content/images/MTA.png"/>
          <span class="name">
            <br />
            <b>MTA: SOFTWARE DEVELOPMENT FUNDAMENTALS</b>
          </span>
          <br />
          <span class="card_description">
            Earners of this certification have demonstrated core software development skills.
            The MTA program provides an appropriate entry point to a future career in technology
          </span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <img src="../../assets/content/images/1150.png" height="150" width="150" />
          <span class="name">

            <br />
            <b>ELEVEN FIFTY ACADEMY GRADUATE</b>
          </span>
          <br />
          <span class="card_description">The graduation badge shows the candidate has successfully moved through all badges (phases) of Eleven Fifty Academy's program for the specific language/skill in which they have learned <br />
          (JavaScript, Python, .NET, or Cybersecurity)</span>
        </div>
      </div>
    </div>
</div>
