<!-- Certifications -->
<div class="container body-content">
  <div class="homepage-body">
    <section>
      <h3 id="certifications">PROFESSIONAL CERTIFICATIONS</h3>
    </section>
    <p style="border-top: 0.5px solid black;">&nbsp;</p>
    <div class="row item flex-container homepage-body">
      <div class="col-lg-3 col-md-3 col-sm-6 text-center align-items-center p-3">
        <span class="skillsLabels ">
          <img src="../../assets/content/images/MTA.png" height="150" width="150" />
          <br />
          <b>MTA: SOFTWARE DEVELOPMENT FUNDAMENTALS</b>
        </span>
        <br />
        <span class="skillsDesc">Earners of this certification have demonstrated core software development skills. The MTA program provides an appropriate entry point to a future career in technology</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center align-items-center p-3">
        <span class="skillsLabels ">
          <img src="../../assets/content/images/1150.png" height="150" width="150" />
          <br />
          <b>ELEVEN FIFTY ACADEMY GRADUATE</b>
        </span>
        <br />
        <span class="skillsDesc">The graduation badge shows the candidate has successfully moved through all badges (phases) of Eleven Fifty Academy's program for the specific language/skill in which they have learned (JavaScript, Python, .NET, or Cybersecurity)</span>
      </div>
    </div>

   </div>
</div>
