/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
html, body {
  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}*/

html,
body {
  justify-content: center !important;
  width: 100vw !important;
  max-width: 100% !important;
  margin: auto !important;
  background-color: #EFE9E4 !important;
}

.main-body {
  width: 80vw !important;
  max-width: 90vw !important;
  min-width: 80vw;
  margin: 80px;
  padding: 0;
  align-content: center;
  display: flex;
  overflow-wrap: break-word !important;
  flex-wrap: wrap;
  text-align: center;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  max-width: 100vw;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: 0;
  margin-left: 0;
  display: flex;
}


.project-flexbox {
  display: flex;
  flex-direction: row;
  width: 90vw !important;
  max-width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-content: flex-start;
  box-sizing: border-box !important;
  flex: 0 1 auto;
}

.portfolio-cards {
  top: 0;
  text-align: center;
  height: 100%;
  min-height: 675px;
  max-height: 675px;
  width: 100%;
  max-width: 300px !important;
  overflow-wrap: break-word;
  justify-content: center !important;
  margin: 0;
  border: 1px solid #333;
  align-content: flex-start;
}

.bottom-row-cards {
  align-self: flex-end;
}

.card-img-top {
  width: 100%;
  height: 100%;
  max-height: 170px;
  min-height: 170px;
  border: 2px solid #333;
  margin-bottom: 10px;
  box-sizing: border-box !important;
}

@media (min-width: 992px) {
  .navbar-expand-md .navbar-collapse {
    max-height: 0.8em;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100vw !important;
    max-width: 100vw !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-md {
    /* -ms-flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* -ms-flex-pack: start; */
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2rem;
  }
  width: 100vw!important;
  max-width: 100vw!important;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
  .container, .container-sm {
    max-width: 393px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }




  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1a;
  }

  h1, .h1 {
    font-size: calc(1.325rem + 0.9vw);
  }


  .address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }

  .ol,
  .ul {
    padding-left: 2rem;
  }

  .ol,
  .ul,
  .dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }

  .dt {
    font-weight: 700;
  }

  .dd {
    margin-bottom: .5rem;
    margin-left: 0;
  }

  .blockquote {
    margin: 0 0 1rem;
  }

  .b,
  .strong {
    font-weight: bolder;
  }

  .p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .bs-component {
    position: relative;
  }

  .li {
    float: left;
  }

  .a {
    padding: 8px;
    background-color: #1a1a1a;
  }

  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

  .col-lg-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .li a:hover {
    background-color: rgb(248, 248, 248);
    color: black;
  }

  .me-auto {
    margin-right: auto !important;
  }
}

  /* user agent stylesheet */
  /*.container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    max-width: 100vw !important;
    overflow-x: hidden !important;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    white-space:nowrap;
  }*/
  /* Button Code */
  /*.button {
    text-rendering: auto;
    letter-spacing: 0.5rem;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
  }

  .button, select {
    text-transform: none;
  }

  .button {
    border-radius: 0;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .source-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
  }

  .btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    align-content: center;
  }

  .btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
  }
}*/

/*Skills and cards*/

/*    <-- skills -->*/
#skills {
  justify-content: center !important;
}

.skill-icons {
  width: 90%;
  max-width: 150px;
  height: 90%;
  max-height: 150px;
  top: 0;
}

.card {
  text-align: center;
  width: 25%;
  min-width: 300px;
  max-width: 300px;
  height: 25%;
  min-height: 350px;
  max-height: 350px;
  justify-content: center;
}

.portfolio, .contact, .resume {
  text-align: center;
}

.portfoliotable {
  align-items: center;
}

.link {
  color: white;
  --bs-bg-opacity: 1;
  background-color: black;
}

.skillsLabels {
  font: strong;
}

.project-flexbox {
  display: flex;
  flex-direction: row;
  width: 90vw !important;
  max-width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-content: flex-start;
  box-sizing: border-box !important;
  flex: 0 1 auto;
}

.portfolio-cards {
  top: 0;
  text-align: center;
  height: 100%;
  min-height: 675px;
  max-height: 675px;
  width: 100%;
  max-width: 300px !important;
  overflow-wrap: break-word;
  justify-content: center !important;
  margin: 0;
  border: 1px solid #333;
  align-content: flex-start;
}

.bottom-row-cards {
  align-self: flex-end;
}

.card-img-top {
  width: 100%;
  height: 100%;
  max-height: 170px;
  min-height: 170px;
  border: 2px solid #333;
  margin-bottom: 10px;
  box-sizing: border-box !important;
}

/* .tectonic-card {
    margin-bottom: 10px;
} */

.tectonic-button {
  width: 100%;
  max-width: 290px !important;
  letter-spacing: 4px;
  justify-content: center;
  margin-bottom: 5px;
}

.tectonic-repo-button {
  margin-top: 5px;
}

.card-title {
  width: 100%;
  font-size: 1.5rem;
  top: 0;
  box-sizing: border-box !important;
  max-height: 60px;
  height: 100%;
  letter-spacing: 1px !important;
}

.card-text {
  text-align: center;
  overflow-wrap: break-word;
  box-sizing: border-box !important;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px !important;
  margin-top: 0 !important;
  box-sizing: border-box !important;
  font-size: 1rem;
}

.card-button:hover {
  color: #fff;
  background-color: #333;
}

.button .btn {
  margin-top: auto;
}

/*Flexbox properties*/
.item {
  flex-grow: 2; /* default 0 */
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}

  .flex-container :first-child {
    align-self: center;
  }

.icon {
  height: 100%;
  min-height: 65%;
  max-height: 65% !important;
  width: 100%;
  min-width: 10%;
  max-width: 10% !important;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*Navbar Code*/

/*.nav {
  width: 100vw !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
  display: flex!important;
}

.navbar-brand {
  justify-content: right;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0;
  font-size: .75rem;
  text-decoration: none;
  white-space: nowrap !important;
  color: black;
  border-right: 2px solid black;
}

.navbar-nav {
  justify-content: flex-end;
  white-space: nowrap;
  width: 100vw !important;
}

html {
  font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}*/

.container {
  margin: 0;
  padding:0;
  display: inline-flex;
  white-space: nowrap;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
}

.navbar-flex {
  margin: 0;
  padding: 0;
  display: inline-flex;
  white-space: nowrap;
  width: 100vw!important;
  max-width: 100vw;
  min-width: 100vw;
}

/*.navbar-right {
  text-align: right;
  font-family: Nunito Sans;
  max-width: 100%;
  color: white;
  font-size: 0.75rem;
}

.nav-link {
  position: center;
  display: block;
  padding: 0.5rem;
  font-size: 0.65em;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar-nav .nav-link {
  padding-right: 50px;
  white-space: nowrap;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 1.75em;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar {

}*/

