/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex!important;
  justify-content: center !important;
  width: 100vw !important;
  max-width: 100% !important;
  margin: auto !important;
  background-color: #e1c9c1 !important;
}

.body-wrapper {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  max-width: 100vw !important;
  margin: auto !important;
  background-color: #FFF !important;
}

.main-body {
  width: 100%!important;
  max-width: 90vw;
  min-width: 90vw;
  margin: 80px;
  padding: 0;
  align-content: center;

}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  max-width: 100vw;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: 0;
  margin-left: 0;
  display: block;
  overflow-wrap: break-word !important;
}

/*HERO CONTAINER*/
.hero-container {
  position: relative;
  width: 100%;
  max-width: 100vw !important;
  height: 600px;
  max-height: 100% !important;
  z-index: 0 !important;
  align-items: center !important;
  align-content: center !important;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-top: -20px;
}

/*CARD CONTAINER CSS*/
.wrapper .header {
  width: 100%;
  min-width: 100%;
  height: 50px;
  background: #7880B5;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  border-radius: 5px;
}

.project-flexbox {
  display: flex;
  flex-direction: row;
  width: 90vw !important;
  max-width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-content: flex-start;
  box-sizing: border-box !important;
  flex: 0 1 auto;
}

.portfolio-cards {
  top: 0;
  text-align: center;
  height: 100%;
  min-height: 675px;
  max-height: 675px;
  width: 100%;
  max-width: 300px !important;
  overflow-wrap: break-word;
  justify-content: center !important;
  margin: 0;
  border: 1px solid #333;
  align-content: flex-start;
}

.bottom-row-cards {
  align-self: flex-end;
}

.card-img-top {
  width: 100%;
  height: 100%;
  max-height: 170px;
  min-height: 170px;
  border: 2px solid #333;
  margin-bottom: 10px;
  box-sizing: border-box !important;
}

@media (min-width: 992px) {
  .navbar-expand-md .navbar-collapse {
    max-height: 0.8em;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100vw !important;
    max-width: 100vw !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-md {
    /* -ms-flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* -ms-flex-pack: start; */
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2rem;
  }
  width: 100vw!important;
  max-width: 100vw!important;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
  .container, .container-sm {
    max-width: 393px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }




  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1a;
  }

  h1, .h1 {
    font-size: calc(1.325rem + 0.9vw);
  }


  .address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }

  .ol,
  .ul {
    padding-left: 2rem;
  }

  .ol,
  .ul,
  .dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }

  .dt {
    font-weight: 700;
  }

  .dd {
    margin-bottom: .5rem;
    margin-left: 0;
  }

  .blockquote {
    margin: 0 0 1rem;
  }

  .b,
  .strong {
    font-weight: bolder;
  }

  .p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .bs-component {
    position: relative;
  }

  .li {
    float: left;
  }

  .a {
    padding: 8px;
    background-color: #1a1a1a;
  }

  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

  .col-lg-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .li a:hover {
    background-color: rgb(248, 248, 248);
    color: black;
  }

  .me-auto {
    margin-right: auto !important;
  }
}


/*Skills and cards*/

/*    <-- skills -->*/
#skills {
  justify-content: center !important;
}

.skill-icons {
  width: 90%;
  max-width: 150px;
  height: 90%;
  max-height: 150px;
  top: 0;
}

.card {
  text-align: center;
  width: 25%;
  min-width: 300px;
  max-width: 300px;
  height: 35%;
  min-height: 350px;
  max-height: 350px;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word !important;
}

.portfolio, .contact, .resume {
  text-align: center;
}

.portfoliotable {
  align-items: center;
}

.link {
  color: white;
  --bs-bg-opacity: 1;
  background-color: black;
}

.skillsLabels {
  font: strong;
}

.skillsDesc {
  justify-content: center !important;
  align-content: center !important;
  width: 50%;
  min-width: 30vw !important;
  max-width: 30vw !important;
  margin-bottom: 30px;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.05rem;
  text-align: justify;
  overflow-wrap: break-word !important;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
}

.project-flexbox {
  display: flex;
  flex-direction: row;
  width: 90vw !important;
  max-width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-content: flex-start;
  box-sizing: border-box !important;
  flex: 0 1 auto;
}

.portfolio-cards {
  top: 0;
  text-align: center;
  height: 100%;
  min-height: 675px;
  max-height: 675px;
  width: 100%;
  max-width: 300px !important;
  overflow-wrap: break-word;
  justify-content: center !important;
  margin: 0;
  border: 1px solid #333;
  align-content: flex-start;
}

.bottom-row-cards {
  align-self: flex-end;
}

.card-img-top {
  width: 100%;
  height: 100%;
  max-height: 170px;
  min-height: 170px;
  border: 2px solid #333;
  margin-bottom: 10px;
  box-sizing: border-box !important;
}

.card-title {
  width: 100%;
  font-size: 1.5rem;
  top: 0;
  box-sizing: border-box !important;
  max-height: 60px;
  height: 100%;
  letter-spacing: 1px !important;
}

.card-text {
  text-align: center;
  overflow-wrap: break-word;
  box-sizing: border-box !important;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px !important;
  margin-top: 0 !important;
  box-sizing: border-box !important;
  font-size: 1rem;
}

.card-button:hover {
  color: #fff;
  background-color: #333;
}

.button .btn {
  margin-top: auto;
}

/*Flexbox properties*/
.item {
  flex-grow: 2; /* default 0 */
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap!important;
}

  .flex-container :first-child {
    align-self: center;
  }

.icon {
  height: 100%;
  min-height: 65%;
  max-height: 65% !important;
  width: 100%;
  min-width: 10%;
  max-width: 10% !important;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*.container {
  margin: 0;
  padding: 0;
  display: inline-flex;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-wrap:break-word;
}*/

.card-container {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-flex {
  margin: 0;
  padding: 0;
  display: inline-flex;
  white-space: nowrap;
  width: 100vw!important;
  max-width: 100vw;
  min-width: 100vw;
}
.homepage-body {
  text-align: left;
  margin-top: 5px;
  justify-content: center;
}
