/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

html, body {
  width: 100vw !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
  background-color: #FBF6F3;
  box-sizing: border-box !important;
}

@media (min-width: 992px) {
  .navbar-expand-md .navbar-collapse {
    max-height: 0.8em;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (min-width: 992px) {
  .navbar-expand-md {
    /* -ms-flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* -ms-flex-pack: start; */
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
  .container, .container-sm {
    max-width: 393px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }




  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1a;
  }

  h1, .h1 {
    font-size: calc(1.325rem + 0.9vw);
  }

  .navbar-right {
    text-align: right;
    font-family: Nunito Sans;
    max-width: 100%;
    color: white;
    font-size: 0.75rem;
  }

  .address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }

  .ol,
  .ul {
    padding-left: 2rem;
  }

  .ol,
  .ul,
  .dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }

  .dt {
    font-weight: 700;
  }

  .dd {
    margin-bottom: .5rem;
    margin-left: 0;
  }

  .blockquote {
    margin: 0 0 1rem;
  }

  .b,
  .strong {
    font-weight: bolder;
  }

  .p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .bs-component {
    position: relative;
  }

  .li {
    float: left;
  }

  .a {
    display: block;
    padding: 8px;
    background-color: #1a1a1a;
  }

  .nav-link {
    position: center;
    display: block;
    padding: 0.5rem;
    font-size: 0.65em;
    color: white;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

  .navbar-nav .nav-link {
    padding-right: 50px;
    padding-left: 50px;
  }

  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

  .col-lg-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }


  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.75em;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .li a:hover {
    background-color: rgb(248, 248, 248);
    color: black;
  }

  .me-auto {
    margin-right: auto !important;
  }


  /* user agent stylesheet */
  .div {
    display: block;
  }

  .nav {
    display: block;
  }

  .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    color: white;
  }

  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  /* Button Code */
  .button {
    text-rendering: auto;
    letter-spacing: 0.5rem;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
  }

  .button, select {
    text-transform: none;
  }

  .button {
    border-radius: 0;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .source-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700;
  }

  .btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    align-content: center;
  }

  .btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
  }
}

