/*html, body {
    width: 100vw!important;
    max-width: 100vw!important;
    overflow-x:hidden!important;
    background-color: #FBF6F3;
    box-sizing: border-box!important;
}*/

@media (min-width: 992px) {
    .navbar-expand-md .navbar-collapse {
        max-height: 0.8em;
        max-width: 100vw!important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (min-width: 992px) {
    .navbar-expand-md {
        /* -ms-flex-wrap: nowrap; */
        flex-wrap: wrap;
        /* -ms-flex-pack: start; */
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2rem;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
    .container, .container-sm {
      max-width: 393px;
  }
  }

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }




    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 1.2;
        color: #1a1a1a;
    }

    h1, .h1 {
        font-size: calc(1.325rem + 0.9vw);
    }

    .navbar-right {
        text-align: right;
        font-family: Nunito Sans;
        max-width: 100%;
        color: white;
        font-size: 0.75rem;
    }

    .address {
        margin-bottom: 1rem;
        font-style: normal;
        line-height: inherit;
    }

    .ol,
    .ul {
        padding-left: 2rem;
    }

    .ol,
   .ul,
    .dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }

        ol ol,
        ul ul,
        ol ul,
        ul ol {
            margin-bottom: 0;
        }

    .dt {
        font-weight: 700;
    }

    .dd {
        margin-bottom: .5rem;
        margin-left: 0;
    }

    .blockquote {
        margin: 0 0 1rem;
    }

    .b,
    .strong {
        font-weight: bolder;
    }

    .p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .bs-component {
        position: relative;
    }

    .li {
        float: left;
    }

    .a {
        display: block;
        padding: 8px;
        background-color: #1a1a1a;
    }

    .nav-link {
        position: center;
        display: block;
        padding: 0.5rem;
        font-size: 0.65em;
        color: white;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

    .navbar-nav .nav-link {
        padding-right: 50px;
        padding-left: 50px;
    }

    .bg-primary {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    }
    .col-lg-3 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }


    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-size: 1.75em;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    .li a:hover {
        background-color: rgb(248, 248, 248);
        color: black;
    }

    .me-auto {
        margin-right: auto !important;
    }


    /* user agent stylesheet */
    .div {
        display: block;
    }

    .nav {
        display: block;
    }

    .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1rem;
        text-decoration: none;
        white-space: nowrap;
        color: white;
    }

    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    /* Button Code */
    .button {
        text-rendering: auto;
        letter-spacing: 0.5rem;
        word-spacing: normal;
        text-indent: 0px;
        text-shadow: none;
        text-align: center;
        align-items: flex-start;
    }

.button, select {
    text-transform: none;
}

.button {
    border-radius: 0;
}

    *, *::before, *::after {
        box-sizing: border-box;
    }

    .source-button {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        font-weight: 700;
    }

    .btn {
        font-size: 0.8rem;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        align-content: center;
    }

    .btn-primary {
        color: #fff;
        background-color: #1a1a1a;
        border-color: #1a1a1a;
    }

/* The hero image */
.hero-image {
    background-image: url("/Content/Images/hero2.png");
    height: 100%!important;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 6.5rem;
    color: #333;
    z-index: 10;
    font-family: 'Great Vibes', cursive;
  }

  h1 {
    font-size: 6.5rem!important;
    text-transform: none!important;
    font-weight: 400!important;
  }

  .hero-job-description {
    text-align: center;
    position:absolute;
    top: 40%;
    right: 20%;
    font-size: 2rem;
    color: #333;
    z-index: 10;
}
h2 {
    text-align: center;
    position:absolute;
    top: 47%;
    right: 20%;
    font-size: 2rem;
    color: #333;
    z-index: 10; 
     text-transform: none!important;
    font-weight: 400!important;
}


.hero-banner {
    width: 100vw!important;
    max-width: 100%!important;
    max-height: 70% !important;
    z-index: 0!important;
    align-items: center!important;
    align-content: center!important;
    display: flex; 
    flex-direction: row;
    border-bottom: 3px solid #333;
}

.hero-banner .btn-primary {
    color: black;
    background-color: black;
    border-color: black;
}

.hero-banner .btn:before {
    width: 4px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: "";
    background: #ed5561;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.hero-banner .btn:hover:before {
    width: 100%;
}

.img-fluid {
    width: 100%;
    height: 100%;
    max-height: 90%!important;
    z-index: 0;
    position: relative;
}
/*Hero image ends*/

.section {
    color: black;
    text-align: center;
}
.h2 {
    color: black;
    font-size: 2.5em;
    text-align: center;
    overflow: hidden;
    padding: 20px 10px;
}

.homepage-body {
    text-align: left;
    margin-top: 5px;
    justify-content: center;
}

.sectionheader {
    color: black;
    font-size: 1.50em;
    text-align: center;
}

.body {
    font-weight: 200;
    letter-spacing: 1px;
}
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}
.body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
    }

    .navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    :root {
        --bs-blue: #007bff;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #e83e8c;
        --bs-red: #d9534f;
        --bs-orange: #fd7e14;
        --bs-yellow: #f0ad4e;
        --bs-green: #4bbf73;
        --bs-teal: #20c997;
        --bs-cyan: #1f9bcf;
        --bs-white: #fff;
        --bs-gray: #919aa1;
        --bs-gray-dark: #343a40;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #f7f7f9;
        --bs-gray-300: #eceeef;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #adb5bd;
        --bs-gray-600: #919aa1;
        --bs-gray-700: #55595c;
        --bs-gray-800: #343a40;
        --bs-gray-900: #1a1a1a;
        --bs-primary: #1a1a1a;
        --bs-secondary: #fff;
        --bs-success: #4bbf73;
        --bs-info: #1f9bcf;
        --bs-warning: #f0ad4e;
        --bs-danger: #d9534f;
        --bs-light: #fff;
        --bs-dark: #343a40;
        --bs-primary-rgb: 26, 26, 26;
        --bs-secondary-rgb: 255, 255, 255;
        --bs-success-rgb: 75, 191, 115;
        --bs-info-rgb: 31, 155, 207;
        --bs-warning-rgb: 240, 173, 78;
        --bs-danger-rgb: 217, 83, 79;
        --bs-light-rgb: 255, 255, 255;
        --bs-dark-rgb: 52, 58, 64;
        --bs-white-rgb: 255, 255, 255;
        --bs-black-rgb: 0, 0, 0;
        --bs-body-color-rgb: 85, 89, 92;
        --bs-body-bg-rgb: 255, 255, 255;
        --bs-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        --bs-body-font-family: var(--bs-font-sans-serif);
        --bs-body-font-size: 1rem;
        --bs-body-font-weight: 400;
        --bs-body-line-height: 1.5;
        --bs-body-color: #55595c;
        --bs-body-bg: #fff;
    }

/*    <-- skills -->*/
#skills {
    justify-content: center!important;
}
.skill-icons {
    width: 90%;
    max-width: 150px;
    height: 90%;
    max-height: 150px;
    top: 0;
}

.card {
    text-align: center;
    width: 25%;
    min-width: 300px;
    max-width: 300px;
    height: 25%;
    min-height: 350px;
    max-height: 350px;
    justify-content: center;
}

.portfolio, .contact, .resume {
    text-align: center;
}

.portfoliotable {
    align-items: center;
}
.link {
    color: white;
    --bs-bg-opacity: 1;
    background-color: black;
}
.skillsLabels{
    font: strong;
   
}

.project-flexbox {
    display: flex;
    flex-direction: row;
    width: 90vw!important;
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-content:flex-start;
    box-sizing: border-box!important;
    flex: 0 1 auto;

}
.portfolio-cards {
    top:0;
    text-align: center;
    height: 100%;
    min-height: 675px;
    max-height: 675px;
    width: 100%;
    max-width: 300px!important;
    overflow-wrap: break-word;
    justify-content: center!important;
    margin: 0;
    border: 1px solid #333;
    align-content:flex-start;
}

.bottom-row-cards {
    align-self:flex-end;
}
.card-img-top {
    width: 100%;
    height: 100%;
    max-height: 170px;
    min-height: 170px;
    border: 2px solid #333;
    margin-bottom: 10px;
    box-sizing: border-box!important;
}

/* .tectonic-card {
    margin-bottom: 10px;
} */

.tectonic-button {
    width: 100%;
    max-width: 290px!important;
    letter-spacing: 4px;
    justify-content: center;
    margin-bottom: 5px;
}
.tectonic-repo-button{
    margin-top: 5px;
}
.card-title {
    width: 100%;
    font-size: 1.5rem;
    top: 0;
    box-sizing: border-box!important;
    max-height: 60px;
    height: 100%;
    letter-spacing: 1px!important;
}

.card-text {
    text-align: center;
    overflow-wrap: break-word;
    box-sizing: border-box!important;
    width: 100%;
    max-width: 800px;
    margin:auto;
    margin-bottom: 20px!important;
    margin-top: 0!important;
    box-sizing: border-box!important;
    font-size: 1rem;
}

.card-button:hover {
    color: #fff;
    background-color: #333;
}

.button .btn {
    margin-top: auto;
}
/*Flexbox properties*/
.item {
    flex-grow: 2; /* default 0 */
    flex-wrap: wrap;

}
.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;
}
.flex-container :first-child {
    align-self: center;
}
}

.mail {
    margin: 0;
}

.contact {
    background-color: none;
}

.icon {
    height: 100%;
    min-height: 65%;
    max-height: 65%!important;
    width: 100%;
    min-width: 10%;
    max-width: 10%!important;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.resume-iframe {
    width: 100%;
    max-width: 90%!important;
    min-width: 90%!important;
    height: 400%;
    max-height: 100%!important;
    min-height: 1023px!important;
    justify-content: center!important;
    align-content: center!important;
}

.resume-div {
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    margin: auto;
}

.resume-link {
    text-decoration: none!important;
    border: 1px solid #333;
    padding: 3px;
    font-size: .75em;
}
