  <!-- Contact -->
<br />
<br />
<div class="wrapper"  [routerLink]="['/contact']">
   
      <div>
        <h3 id="contact" class="header">CONTACT</h3>
      </div>
      <div class=" row col-12">
        <div class="text-center">
          <a href="https://github.com/leilahsmith" target="_blank" style="margin-right: 5px;">
            <img src="../../assets/content/images/github.png" class="github-icon" />
          </a>
          <a href="https://www.linkedin.com/in/leilahsmith317/" target="_blank" style="margin-left: 5px;">
            <img src="../../assets/content/images/linkedin.svg" class="icon" />
          </a>
        </div>
      </div>

      <div class="contact" style="text-align: center; ">
        <p class="name">You can reach me at the following addresses:</p>
        <a class="contact" href="mailto:leilah.sdev@gmail.com">Email: leilah.sdev@gmail.com </a><br />
        <a class="contact" href=“tel:+56922162385”>
          Chile: +56 9 2216 2385
        </a><br />
        <a class="contact" href=“tel:+13177597371”>US: (317) 759-7331</a>
        <p class="mail">Mail in U.S.: 1110 N. Franklin Rd, Indianapolis, IN 46219</p>
        <p class="mail">Mail Abroad: Las Rosas 110, Departamento 1107, Quilpué, Valparaíso, Chile 2430000</p>
      </div>
</div>
  <script src="js/bootstrap.min.js"></script>


