  <!-- Contact -->
<br />
<br />
<div class="wrapper"  [routerLink]="['/contact']">
  <div>
    <h3 id="contact" class="header">CONTACT</h3>
  </div>
  <div class=" row col-12">
    <div class="text-center">
      <a href="https://github.com/leilahsmith" target="_blank" style="margin-right: 5px;">
        <img src="../../assets/content/images/github.png" class="github-icon" />
      </a>
      <a href="https://www.linkedin.com/in/leilahsmith317/" target="_blank" style="margin-left: 5px;">
        <img src="../../assets/content/images/linkedin.svg" class="icon" />
      </a>
    </div>
  </div>

  <div class="contact">
    <p class="name">You can reach me at the following address:</p>
    <div class="cards_wrap">
      <div class="card_item">
        <div class="card_inner">
          <mat-icon>email</mat-icon><a href="mailto:leilah.sdev@gmail.com"> Email: leilah.sdev@gmail.com </a><br />
          <mat-icon>phone</mat-icon><a href=“tel:+13172178114”> US: + 1 (317) 217-8114</a><br />
          <div class="item-flexbox">
            <mat-icon>contact_mail</mat-icon>
            <p class="contact-card"> 1110 N. Franklin Rd, Indianapolis, IN 46219 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/bootstrap.min.js"></script>


