
  <div class="wrapper">
        <h3 id="about" class="header">ABOUT</h3>
        <div class="about-section-text">
          <p class="about-p">
            Hello, I'm Leilah.
            <br />
            <br />
            I am a quirky, down-to-earth, software developer who transitioned from life as a professional cellist in classical music
            & music education to the exciting world of tech in May 2021.
            I am a curious spirit who loves challenging myself to learn new things,
            from Spanish, to new techniques and ways to solve problems.
            <br />
            <br />
            As someone who has been tinkering around with technology since the days of
            floppy disks and DOS games, and as someone who knows the profound impact technology can have with it's continual expansion,
            innovation, and abilities to solve real-life problems, it was only natural I decided to explore software development.
            <br>
            <br>
            I enjoy the challenge of taking complex topics and breaking them down into easily understandable concepts.
            It is said if you can teach a 5 year old something complex and abstract, that you truly understand the concept.
            I also know that learning is a lifelong journey and curiosity is the root of learning.
            <br />
            <br />
          </p>
        </div>
  </div>
