
  <div class="wrapper">
        <h3 id="about" class="header">ABOUT</h3>
        <div class="about-section-text">
          <p class="about-p">
            Hello, I'm Leilah.
            <br />
            <br />
            I am a quirky, down-to-earth, software developer who transitioned from life as a professional cellist in classical music
            and music education, to the exciting world of tech in May 2021. 
            I am a curious spirit who loves challenging myself to constantly learn new techniques and ways to solve problems,
            as well as expanding my skills in general, such as Spanish, cooking, and yoga. 
            <br />
            <br />
            As someone who loves helping others and has been tinkering around with technology since the days of floppy disks & DOS games,
            and as someone who knows the profound positive impact technology can have on this world
            with it's continual expansion, innovation, and abilities to solve real-life problems,
            it was only natural I decided to explore software development.
            <br>
            <br>
            I enjoy the challenge of taking complex topics and breaking them down into easily understandable concepts.
            Afterall, my degree is in the education field. It is said that it is not until you can teach a 5 year old something complex and abstract,
            that you truly understand the concept.

            I full-heartedly believe that learning is a lifelong journey and curiosity is the root of learning.
            I'm excited to continue my journey growing professionally and personally.
            <br />
            <br />
          </p>
        </div>
  </div>
