<div class="container body-content about">
  <div class="homepage-body">
    <section>
      <h3 id="about">ABOUT</h3>
    </section>
    <p style="border-top: 0.5px solid black;">&nbsp;</p>
    <p class="about-p">
      Hello, I'm Leilah.
      I am a software developer who transitioned in May 2021 from life as a professional cellist in classical music
      & music education to the exciting world of tech.
      I am a curious spirit who loves challenging myself to learn new things,
      from Spanish, to new techniques, to new ways to solve software problems.
      <br />
      <br />
      As someone who has always been tinkering around with technology since the days of
      floppy disks and DOS games, and as someone who knows the profound impact technology can have with it's continual expansion,
      innovation, and abilities to solve real-life problems, it was only natural I decided to explore software development.
      <br>
      <br>
      I enjoy the challenge of taking complex topics and breaking them down into easily understandable concepts.
      It is said if you can teach a 5 year old something complex and abstract, that you truly understand the concept.
      I also know that learning is a lifelong journey and curiosity is the root of learning.
      <br />
      <br />
    </p>
  </div>
</div>

