 <!-- Resume -->
<div class="container body-content">
  <div class="homepage-body">
    <section>
      <h3 id="resume">RESUME</h3>
    </section>
    <p style="border-top: 0.5px solid black;">&nbsp;</p>
    <div class="resume-div">
      <p class="text-center">
        You can download a PDF version of my resume here:
        <a class="resume-link" href="../../assets/content/LS_Resume2023Current.pdf">Download Resume</a>
      </p>
      <iframe class="resume-iframe" src="../../assets/content/LS_Resume2023Current.pdf"></iframe>
    </div>
  </div>
</div>
