<div class="container body-content" id="skills">
  <div class="homepage-body">
    <section>
      <h3 id="courses">COURSE CERTIFICATIONS</h3>
    </section>

    <p style="border-top: 0.5px solid black;">&nbsp;</p>
    <div class="row item flex-container homepage-body">
      <div class="col-lg-3 col-md-3 col-sm-6 text-center align-items-center p-3">
        <span class="skillsLabels ">
          <img src="../../assets/content/images/sololearn.png" height="150" width="150" />
          <br />
          <br />
          <b>SOLOLEARN: REACT + REDUX</b>
        </span>
        <br />
        <span class="skillsDesc">Earners of this course certificate have demonstrated understanding of core concepts of the react and redux libraries, including JSX, Virtual DOM, Components, hooks, reducers, state management, event-handling, and lifescycle methods.</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center align-items-center p-3">
        <br />
        <span class="skillsLabels ">
          <img src="../../assets/content/images/Coursera_ITFE.png" height="150" width="225" />
          <br />
          <br />
        </span>
        <b>META: INTRODUCTION TO FRONT-END DEVELOPMENT</b>

        <br />
        <span class="skillsDesc">This certificate is earned by completing the first course of the Meta Front-End Developer Professional Certificate </span>
      </div>

    </div>
  </div>
</div>

