<div class="wrapper" routerLink="/skills">
  <div class="homepage-body">
    <section>
      <h3 id="courses" class="header">COURSE CERTIFICATIONS</h3>
    </section>

    <div class="cards_wrap">

      <div class="card_item">
        <div class="card_inner">
          <img src="../../assets/content/images/sololearn.png" />
          <span>
            <br />
            <b class="name">SOLOLEARN: REACT + REDUX</b>
          </span>
          <br />
          <span class="card_description">Earners of this course certificate have demonstrated understanding of core concepts of the react and redux libraries, including JSX, Virtual DOM, Components, hooks, reducers, state management, event-handling, and lifescycle methods.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <img src="../../assets/content/images/Coursera_ITFE.png" />
          <span>
            <br />
            <b class="name">META: INTRODUCTION TO FRONT-END DEVELOPMENT</b>
          </span>
          <br />
          <span class="card_description">This certificate is earned by completing the first course of the Meta Front-End Developer Professional Certificate.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <img src="../../assets/content/images/Meta_JavaScript.jpg" />
          <span>
            <br />
            <b class="name">Coursera/Meta: Programming with JavaScript</b>
          </span>
          <br />
          <span class="card_description">Earners of this course certificate have demonstrated understanding of basic concepts of web development with JavaScript; working with functions, objects, arrays, variables, data types, the HTML DOM, and much more. Students learned how to use JavaScript and discover interactive possibilities with modern JavaScript technologies. Finally, they learned about the practice of testing code and how to write a unit test using Jest.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <img src="../../assets/content/images/Meta_VersionControl.jpg" />
          <span>
            <br />
            <b class="name">Coursera/Meta: Version Control</b>
          </span>
          <br />
          <span class="card_description">Earners of this course certificate have demonstrated understanding of basic concepts of implementing Version Control systems, navigating and configuring using the command line, creating and using a github repository, as well as managing code revisions.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <img src="../../assets/content/images/accenture_forage.jpg" />
          <span>
            <br />
            <b class="name">Accenture/Forage: Developer Program</b>
          </span>
          <br />
          <span class="card_description">This virtual internship experience allows earners of this certificate to work on realistic tasks that developers and technical consultants usually do on real client projects. Earners develop skills in areas such as architecture, requirements, programming, artificial intelligence, testing, cyber security, and application security.</span>
        </div>
      </div>

    </div>
  </div>
</div>

