 <!-- Skill Icons -->
<br />
<div class="wrapper" routerLink="/skills">
    <section>
      <h3 id="skills" class="header">SKILLS</h3>
    </section>
    <div class="cards_wrap">

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img class="trio-icon" src="../../assets/content/images/webDevTrio3.png" />
            <br />
          </span>
          <b class="name">HTML5/CSS3/JavaScript</b>
          <br />
          <span class="card_description">Implementing user-friendly web environments</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="../../assets/content/images/Angular.png" />
            <br />
          </span>
          <b class="name">ANGULAR</b>
          <br />
          <span class="card_description">Building components for easily maintainable code</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="../../assets/content/images/csharp.png" />
            <br />
          </span>
          <b class="name">C#</b>
          <br />
          <span class="card_description">Object-oriented programming language</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="../../assets/content/images/Net.jpg" />
            <br />
          </span>
          <b class="name">.NET FRAMEWORK</b>
          <br />
          <span class="card_description">A framework for building software</span>
        </div>
      </div>


      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="../../assets/content/images/React-icon.png" />
            <br />
          </span>
          <b class="name">REACT</b>
          <br />
          <span class="card_description">Front-end JavaScript library for building user interfaces based on UI components</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="https://static.thenounproject.com/png/204943-200.png" />
            <br />
          </span>
          <b class="name">AGILE</b>
          <br />
          <span class="card_description">Software development and project management CI/CD framework</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
            <br />
          </span>
          <b class="name">GITHUB</b>
          <br />
          <span class="card_description">A web-based development repository and CI/CD framework for teamwork.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="../../assets/content/images/SQL.png" />
            <br />
          </span>
          <b class="name">SQL</b>
          <br />
          <span class="card_description">Relational database management system.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg" />
            <br />
          </span>
          <b class="name">BOOTSTRAP</b>
          <br />
          <span class="card_description">Achieving design concepts with this front-end framework tool.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="../../assets/content/images/postman.png" />
            <br />
          </span>
          <b class="name">POSTMAN</b>
          <br />
          <span class="card_description">Testing and Implementing code.</span>
        </div>
      </div>

      <div class="card_item">
        <div class="card_inner">
          <span>
            <img src="../../assets/content/images/Storybook.png"/>
            <br />
          </span>
          <b class="name">STORYBOOK</b>
          <br />
          <span class="card_description">Building UI components and pages in isolation while streamlining UI development, testing, and documentation</span>
        </div>
      </div>
    </div>
    </div>
