 <!-- Skill Icons -->
<br />
<div class="container body-content" routerLink="/skills">
  <div class="homepage-body">
    <section>
      <h3>SKILLS</h3>
    </section>

    <p style="border-top: 0.5px solid black;">&nbsp;</p>
    <div class="row item flex-container homepage-body">


      <!-- Skill Icons-->
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/WebDevTrio.png" />
          <b>HTML5/CSS3/JavaScript</b>
        </span>
        <br />
        <span class="skillsDesc">Implementing user-friendly web environments</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/Angular.png" />
          <br />
          <b>ANGULAR</b>
        </span>
        <br />
        <span class="skillsDesc">Building components for easily maintainable code</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/csharp.png" />
          <br />
          <b>C#</b>
        </span>
        <br />
        <span class="skillsDesc">Object-oriented programming language</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/Net.jpg" />
          <br />
          <b>.NET FRAMEWORK</b>
        </span>
        <br />
        <span class="skillsDesc">Platform for building software</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/React-icon.png" />
          <br />
          <b>REACT</b>
        </span>
        <br />
        <span class="skillsDesc">Front-end JavaScript library for building user interfaces based on UI components</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="https://static.thenounproject.com/png/204943-200.png" />
          <br />
          <b>AGILE</b>
        </span>
        <br />
        <span class="skillsDesc">Software development and project management</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
          <br />
          <b>GITHUB</b>
        </span>
        <br />
        <span class="skillsDesc">Working on a team with this web-based development repository</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/SQL.png" />
          <br />
          <b>SQL SERVER</b>
        </span>
        <br />
        <span class="skillsDesc">Relational database management system</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg" />
          <br />
          <b>BOOTSTRAP</b>
        </span>
        <br />
        <span class="skillsDesc">Achieving design concepts with this front-end framework tool</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/postman.png" />
          <br />
          <b>POSTMAN</b>
        </span>
        <br />
        <span class="skillsDesc">Testing and Implementing code</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 text-center p-3 card">
        <br />
        <span class="skillsLabels">
          <img class="skill-icons" src="../../assets/content/images/Storybook.png" />
          <br />
          <b>STORYBOOK</b>
        </span>
        <br />
        <span class="skillsDesc">Building UI components and pages in isolation while streamlining UI development, testing, and documentation</span>
      </div>
    </div>
    <div class="container col-12 m-5"></div>
  </div>
</div>
