.nav {
  width: 100% !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
  display: flex;
  white-space: nowrap !important;
}

.navbar-brand {
  justify-content: right;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap !important;
  color: black;
}

.navbar-nav {
  justify-content: flex-end;
  white-space: nowrap;
  width: 100% !important;
}

html {
  font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container {
  width: 100%!important;
  max-width: 100vw!important;
  margin: 0;
  padding: 0;
  white-space:nowrap;
  box-sizing: border-box;
}


.navbar-right {
  text-align: right;
  font-family: Nunito Sans;
  max-width: 100%;
  color: white;
  font-size: 0.75rem;
  white-space: nowrap !important;
}

.nav-link {
  position: center;
  display: block;
  padding: 0.5rem;
  font-size: 0.95em;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar-nav .nav-link {
  /*padding-right: 50px;*/
  white-space:nowrap;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 412px) and (max-width: 375px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.25em;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 1.25em;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.navbar {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100vw!important;
}

