.card-img-top {
  width: 100%;
  height: 100%;
  max-height: 130px;
  min-height: 130px;
  min-width: 270px;
  max-width: 270px;
  border: 2px solid #333;
  margin-bottom: 10px;
  box-sizing: border-box !important;
}

.repo-button {
  width: 100% !important;
  min-width: 200px !important;
  max-width: 200px !important;
  height: 40px;
  background: #7880B5;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content:center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  border: 1px solid #7880B5;
  margin: 0 !important;
  line-height: 0 !important;
}

/*New Card Code*/
.wrapper .header {
  width: 100%;
  height: 50px;
  background: #7880B5;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.cards_wrap {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .cards_wrap .card_item {
    padding: 15px 25px;
    border: solid 1px #7880B5;
    border-radius: 10px;
    margin: 15px;
  }

  .cards_wrap .card_inner {
    background: #fff;
    border-radius: 10px;
    padding: 35px 20px;
    min-width: 225px;
    max-width: 400px;
    min-height: 475px;
    max-height: 475px;
    width: 100%;
    text-align: center;
    margin: 0 !important;
  }

  .cards_wrap .card_item img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
    justify-content: center !important;
    align-content: center !important;
  }

  .cards_wrap .card_item .name {
    color: #7880B5;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    text-overflow: ellipsis;
  }

  .cards_wrap .card_item .real_name {
    color: #b6c0c2;
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0 10px;
  }

  .cards_wrap .card_item .card_description {
    font-size: 16px;
    line-height: 24px;
    color: #7b8ca0;
  }

@media screen and (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 50%;
    min-width: 375px;
    max-width: 375px;
    min-height: 600px;
    max-height: 600px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
  }

}

@media screen and (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
    min-width: 375px;
    max-width: 375px;
    min-height: 600px;
    max-height: 600px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
  }

  .wrapper .header {
    font-size: 16px;
    height: 60px;
  }
}

@media screen and (max-width: 568px) {
  .cards_wrap .card_item {
    width: 100%;
  }

  .wrapper .header {
    font-size: 14px;
  }
}
