 <!-- Portfolio -->
<section>
  <div class="container body-content">
    <div class="homepage-body">
      <section>
        <h3 id="portfolio">PORTFOLIO</h3>
      </section>
      <p style="border-top: 0.5px solid black;">&nbsp;</p>
    </div>
  </div>
  <div class="project-flexbox">
    <div class="col-lg-3 col-md-3 col-sm-6 portfolio-cards p-3 flex-wrap d-inline-flex">
      <img src="../../assets/content/images/tectonic_tourist.jpg" class="card-img-top tectonic-card" alt="Tectonic_Tourist">
      <br />
      <h5 class="card-title"> Tectonic Tourist </h5>
      <p class="card-text">
        A contracted website for Tectonic Tourist in Chicago, IL.<br><br>
        In this project I learned how to take dynamic data entered in a google form and automatically export it to a google sheet, where
        a reservation in the businesses Google calendar is automatically created. All of this was done with my first exposure to Google App Scripts.
        Check out the repository below: <br>
        <a href="https://github.com/leilahsmith/tectonic_tourist" target="_blank" class="repo-button tectonic-repo-button button btn btn-primary btn-sm"> Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    <!-- <div class="col-lg-3 col-md-3 col-sm-6 portfolio-cards p-3 flex-wrap d-inline-flex">
        <img src="Content/Images/tectonic_tourist.jpg" class="card-img-top tectonic-card" alt="Tectonic_Tourist">
        <br /> -->
    <!-- <h5 class="card-title"> Website for Performing Artist </h5>
        <p class="card-text">A contracted website for Sharon Weyser in Indianapolis, IN.<br><br>
            In this project I learned how to take dynamic data from a google form and automate exportation to a google sheet, where
        this data gets sent to a google AppSheet embedded in the performance calendar section. This was my first exposure to Google AppSheet.
        You can either visit the website here: <br></p>
        <a href="https://www.sharonweyser.com" target="_blank" class="tectonic-button button btn btn-primary btn-sm">tectonictourist.com<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <p class="card-text"> or check out the repository below: <br>
        <a href="https://github.com/leilahsmith/tectonic_tourist" target="_blank" class="tectonic-repo-button button btn btn-primary btn-sm"> Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div> -->
    <div class="col-lg-3 col-md-3 col-sm-6 portfolio-cards p-3 flex-wrap d-inline-flex">

      <img src="../../assets/content/images/SSF.png" class="card-img-top" alt="Static Store Front Image">
      <br />
      <h5 class="card-title"> Static Store Front </h5>
      <p class="card-text">
        My first solo HTML/CSS static website with no prior experience. This is for a static store front website for a mock string
        ensemble booking company with various ensembles available. <br>
        <br>
        In this project I learned more about responsive design. I was also introduced to the fundamentals of UX design and bootstrap.
      </p>
      <br>

      <a href="https://github.com/leilahsmith/StaticStoreFront" target="_blank" class="button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 portfolio-cards p-3 flex-wrap d-inline-flex">

      <img src="../../assets/content/images/GoldBadge.png" height="200" width="200" class="card-img-top" alt="Gold Badge Final">
      <br />
      <h5 class="card-title"> Gold Badge Final </h5>
      <p class="card-text">
        Three console applications for separate challenges. Including one for a cafe to manage the menu, one for an insurance company to track claims, and one to help manage a security badging system.<br>
        In this project we used the C# language.
      </p>
      <a href="https://github.com/leilahsmith/GB_ConsoleApps" target="_blank" class="button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 portfolio-cards p-3 flex-wrap d-inline-flex">

      <img src="../../assets/content/images/MyTunesList.png" class="card-img-top" alt="MyTunesList">
      <br />
      <h5 class="card-title"> MyTunes App </h5>
      <p class="card-text">
        A collaborative project named "MyTunesList". A social media application that allows a user to rate their favorite artists on singles, albums, and even playlists. Integrated with the Spotify API.
        This project used JavaScript, C#, CSS, & HTML.
      </p>
      <a href="https://github.com/KDBlanchard02/MyTunesList" target="_blank" class="button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 portfolio-cards p-3 flex-wrap d-inline-flex">
      <img src="../../assets/content/images/Hangman.png" class="card-img-top" alt="Hangman Repository">

      <h5 class="card-title"> Hangman </h5>
      <p class="card-text">First partner project in which we recreated the classic game Hangman using the C# language.</p>
      <a href="https://github.com/leilahsmith/HangManConsoleGame" target="_blank" class="button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>

  </div>
</section>
<br />
<br />
