 <!-- Portfolio -->
<div class="wrapper" routerLink="/portfolio">
  <section>
    <h3 id="portfolio" class="header">PORTFOLIO</h3>
  </section>

  <div class="cards_wrap">
    <!--CARDS-->
    <div class="card_item">
      <div class="card_inner">
        <img src="../../assets/content/images/tectonic_tourist.jpg" class="card-img-top" alt="Tectonic_Tourist" />
        <span class="name">
          <br />
          <b> Tectonic Tourist </b>
        </span>
        <br />
        <span class="card_description">
          <p class="card-text">
            A website built for Tectonic Tourist in Chicago, IL.<br>
            In this project I learned how to take dynamic data entered in a google form and automatically export it to a google sheet, where
            a reservation in the businesses Google calendar is automatically created. All of this was done with my first exposure to Google App Scripts.<br />
            Check out the repository below: <br><br>
            <a href="https://github.com/leilahsmith/tectonic_tourist" target="_blank" class="repo-button button btn btn-primary btn-sm"> Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>

    <div class="card_item">
      <div class="card_inner">
        <img src="../../assets/content/images/sharon.jpg" class="card-img-top" alt="Sharon Weyser Website" />
        <span class="name">
          <br />
          <b>www.sharonweyser.com</b>
        </span>
        <br />
        <span class="card_description">
          <p class="card-text">
            A website built for Sharon Weyser in Indianapolis, IN.<br><br>
            In this project I learned how to take dynamic data from a google form and automate exportation to a google sheet, where
            this data gets sent to a google AppSheet embedded in the performance calendar section. This was my first exposure to Google AppSheet.
            <br />
            <br />
            <a href="https://github.com/leilahsmith/tectonic_tourist" target="_blank" class="repo-button button btn btn-primary btn-sm"> Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>

    <div class="card_item">
      <div class="card_inner">
        <img src="../../assets/content/images/SSF.png" class="card-img-top" alt="Static Store Front" />
        <span class="name">
          <br />
          <b>Static Store Front</b>
        </span>
        <br />
        <span class="card_description">
          <p class="card-text">
            My first solo HTML/CSS static website with no prior experience. This is for a static store front website for a mock string
            ensemble booking company with various ensembles available. <br>
            <br>
            In this project I learned more about responsive design. I was also introduced to the fundamentals of UX design and bootstrap.
          </p>
          <br>
          <a href="https://github.com/leilahsmith/StaticStoreFront" target="_blank" class="repo-button button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>

    <div class="card_item">
      <div class="card_inner">
        <img src="../../assets/content/images/GoldBadge.png" class="card-img-top" alt="Gold Badge Final" />
        <span class="name">
          <br />
          <b>Gold Badge Final Project</b>
        </span>
        <br />
        <span class="card_description">
          <p class="card-text">
            Three console applications for separate challenges. Including one for a cafe to manage the menu, one for an insurance company to track claims, and one to help manage a security badging system.<br>
            In this project we used the C# language.
          </p>
          <a href="https://github.com/leilahsmith/GB_ConsoleApps" target="_blank" class="repo-button button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>

    <div class="card_item">
      <div class="card_inner">
        <img src="../../assets/content/images/MyTunesList.png" class="card-img-top" alt="MyTunes List" />
        <span class="name">
          <br />
          <b>MyTunes List</b>
        </span>
        <br />
        <span class="card_description">
          <p class="card-text">
            A collaborative project named "MyTunesList". A social media application that allows a user to rate their favorite artists on singles, albums, and even playlists. Integrated with the Spotify API.
            This project used JavaScript, C#, CSS, & HTML.
          </p>
          <a href="https://github.com/KDBlanchard02/MyTunesList" target="_blank" class="repo-button button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>

    <div class="card_item">
      <div class="card_inner">
        <img src="../../assets/content/images/Hangman.png" class="card-img-top" alt="Hangman" />
        <span class="name">
          <br />
          <b>Hangman</b>
        </span>
        <br />
        <span class="card_description">
          <p class="card-text">
          <p class="card-text">First partner project in which we recreated the classic game Hangman using the C# language.</p>
          <a href="https://github.com/leilahsmith/HangManConsoleGame" target="_blank" class="repo-button button btn btn-primary btn-sm">Repository <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>

  </div>
</div>


