/* The hero image */

.img-fluid {
  position: relative;
  z-index: 0 !important;
  width: 100% !important;
  max-width: 100vw !important;
  height: 600px;
  max-height: 100% !important;
  overflow-x: hidden;
  content: url("../../assets/content/images/hero3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headings-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10%;
  right: 60%;
  height: 100%;
  width: 100%;
  min-width: 700px;
  max-width: 80vw;
  min-height: 500px;
  max-height: 40vh;
  position: relative;
  z-index: 10 !important;
}

.hero-text {
  position: relative;
  display:flex;
  flex-direction:column;
  z-index: 10 !important;
  align-items: flex-start;
  font-size: 7.5rem;
  color: #333;
  font-family: 'Great Vibes', cursive;
  overflow-wrap: break-word;
}

.hero-job-description {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10 !important;
  font-size: 3rem;
  align-items: flex-end;
  color: #333;
  transition-delay: 10s !important;
  top: 40%;
  left: 55%;
  /*transform: translate(60%, -40%);*/
  justify-content: left;
  overflow-wrap: break-word;
}
